.hotel-dashboard .chart-container {
    height: 40vh; /* Adjust height as needed */
    width: 80vw;  /* Adjust width as needed */
    position: relative;
    margin: auto; /* Center the chart container */
}

.hotel-dashboard header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

main {
    margin-top: 20px;
}

.chart {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}
