/* Main container */
.role-container {
  height: 100vh;
  align-content: space-evenly;
  background-color: #f5f8fa;
}

/* Role card styling */
.role-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 70%;
}

/* Title styling */
.role-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/* Buttons container */
.role-buttons {
  flex-direction: column !important;
  gap: 15px;
  width: 30%;
}

/* Individual button styling */
.role-button {
  background-color: #b37740;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left; /* Align text to the left */
  transition: background-color 0.3s, transform 0.2s;
  padding: 20px;
  width: 100%;
}

.role-button:hover {
  background-color: #9a6535;
  transform: scale(1.05);
}

.role-icon {
  font-size: 24px; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

/* Role content layout */
.role-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between icon and text */
}

.role-col {
  margin-bottom: 15px;
}

