/* Main container */
.role-container {
  height: 100vh;
  align-content: space-evenly;
  background-color: #f5f8fa;
  /* max-width: 600px; */
}

/* Role card styling */
.role-card {
  background-color: #f5f8fa;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 30px;
  text-align: center;
  width: 70%;
  max-height: 400px;
  height: 400px;
}

/* Title styling */
.role-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/* Buttons container */
.role-buttons {
  flex-direction: row !important;
  gap: 15px;
  margin-top: 8rem !important;
}

/* Individual button styling */
.role-button {
  background-color: #B2602F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left; /* Align text to the left */
  transition: background-color 0.3s, transform 0.2s;
  padding: 20px;
  width: 100%;
}

.role-button:hover {
  background-color: #9e5429;
  transform: scale(1.01);
}

.role-icon {
  font-size: 24px; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

/* Role content layout */
.role-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between icon and text */
}

.role-col {
  margin-bottom: 15px;
}

.justify-items {
  justify-items: center;
}

.role-logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  gap: 0.5rem;
  position: absolute; /* Positioning relative to the nearest positioned ancestor (or the body if none is positioned) */
  top: 20px; /* Adjust as needed for exact positioning */
  left: 20px; /* Adjust as needed for exact positioning */
  margin: 0; /* Remove any margin to ensure it's positioned correctly */
}

/* Adjusts the logo size to make it smaller */
.role-logo {
  height: 30px; /* Reducing the height, maintain 'auto' for width to preserve aspect ratio */
  width: auto;
}

/* Adjusts the size of the text in the logo container */
.role-logo-container h1 {
  font-size: 1.2rem; /* Smaller text size */
  margin: 0; /* Remove margin to keep it tight */
  color: #333; /* Ensure text color is visible against the background */
}