body {
  font-family: 'Arial', sans-serif !important;
  color: #1f2937 !important;
  background-color: #f5f8fa !important;
  margin: 0 !important;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex !important;
}

.justify-items-center {
  justify-items: center !important;
}

.justify-items-start {
  justify-items: start;
}

.justify-self-center {
  justify-self: center;
}

.align-items-center {
  align-items: center;
}

.nav-container {
  max-width: none !important;
}

.inline-block {
  display: inline-block;
}

.align-content-end {
  align-content: end !important;
}

.footer-container {
  display: contents;
  text-align: justify;
}