.w-100 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  color: #1f2937;
  background-color: #f5f8fa;
  margin: 0; /* Avoid centering globally */
}

.d-inline-flex {
  display: inline-flex !important;
}

.justify-items-center {
  justify-items: center !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}